name: Daily Database Backup

on:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '15 2 * * *'
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:

jobs:
  run-backup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install supabase pandas

      - name: Run Backup Script
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python backup_script.py